<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap" rel="stylesheet"> 
        <title>Cyber Security Project</title>
    </head>
    <body>
        <a href="/">Menu</a>
        <a href="/login">Log in</a>
        <a href="/signup">Sign up</a>
        <div class='content'>{% block content %}{% endblock %}</div>



        <!-- Display messages here -->

    </body>
</html>